/* google fonts  */

@import url("https://fonts.googleapis.com/css?family=Anton|Oswald|Ubuntu");
/*

font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Anton', sans-serif;

*/

/* default css variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffeee4 !important;
  font-family: "Anton", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
